h2{
    text-align: center;
}
main{
    width: 55%;
    margin: auto;
}
.data{
    width: 55%;
    margin: auto;
}
.data p{
    color: rgb(110, 109, 109)
}
iframe{
     border-left: 2px solid rgb(110, 109, 109);
    border-top: 2px solid rgb(110, 109, 109);
    border-right: 1px solid rgb(110, 109, 109);
    border-bottom: 1px solid rgb(110, 109, 109);
}
.container{
    border-bottom: 3px solid rgba(0, 0, 0,0.7);
}